
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,body {
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #FFF0DC;
    
    /*
    padding: 0 16px;
    height: 100vh;*/
    
  }
  body{
    background-color: #FFF0DC;
  }
  .client-body-container{
    background-color: #FFF0DC;
    /*padding-bottom: 10px*/;
    min-height: 100vh;
    
 }
 .admin-body-container{
  width: 78%;
 }
  .body-container{
    width: 90%; 
    justify-self: center;
  }

 .guest-container{
  color: #000000;
  background-color: #FFF0DC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*
  padding-bottom: 10px;
  min-height: 730px;*/
 }
 .guest-body-container{
  padding: 50px;
  min-height: 93vh;
  align-content: center;
  justify-items: center;
 }
 /*--------------------------client header--------------------------*/
  header {
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  .client-header-color{
    background-color: #543A14;
  }
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F0BB78;
    font-family: "McLaren", cursive;
    font-size: 20px;
    padding: 0px 20px;
  }
  .header-left:hover{
    color: #FFF0DC;
  }
  .header-right{
    display: flex;
    gap:15px;
  }
  .headerLink{
    color: #F0BB78; 
    text-decoration: none;
    font-size: 20px;
  }
  .headerLink:hover{
    color: #FFF0DC;
  }
  .iconStyle {
    border: 1px solid #F0BB78;
    border-radius: 50%;
    background-color: rgba(209, 191, 154, 0.14);
    backdrop-filter: blur(10px);
    width: 35px; 
    height: 35px; 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164); 
    text-align: center;
    line-height: 40px;
  }
  .iconStyle .badge {
    position: absolute;
    top: -5px;
    left: 20px;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: red;
    color: #F0BB78;
  }
  .btnlink{
    color: #F0BB78; 
    text-decoration: none;
  }
  .btnlink:hover{
    color: #543A14;
  }
  .mobileHeader{
    display: none;
  }
  .header-avatar-container{
    display: flex;
    align-items: end;
    gap: 5px;
  }
/*---------------Notification---------------------------*/
.notification-style{
  position: relative;
}
.notification {
  position: relative;
  cursor: pointer;
}
.notification .badge {
  position: absolute;
  top: -5px;
  left: 20px;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: red;
  color: #F0BB78;
}

.notification-listbox {
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 100%;
  right: -70px; 
  background-color: #FFF0DC;
  border: 0.5px solid #543A14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: 15px;
  border-radius: 10px;
}
.hidden{
  display: none;
}
.noticebox{
  border-top: 0.5px solid #543A14;
  color: #000000;
  line-height: 1.5;
  padding: 0px 15px;
}
.noticebox:hover{
  opacity: 0.8;
  background-color: #ffe8ca;
  cursor: pointer;

}
.noticebox p{
  margin-bottom: 0px;
  text-align: left;
}
.notice-top{
  display: flex;
  justify-content: flex-end;
  margin: 2px 7px;
}
/*-----------header avatar dropdown list-----------------------------------*/
.avatar-dropdown{
  position: relative;
  display: inline-block;
}
.avatar-dropdown-content{
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 100%;
  right: -30px; 
  background-color: #FFF0DC;
  border: 0.5px solid #543A14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 150px;
  display: none;
  justify-content: center;
  border-radius: 10px;
}

.dropdownLink{
  color: #F0BB78; 
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #543A14;
  border: 0.5px solid #F0BB78;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
  padding: 1px 20px;
  margin: 3px 5px;
}
.dropdownLink:hover{
  background-color: #F0BB78;
  color: #543A14;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
}
.avatar-dropdown:hover .avatar-dropdown-content{
  display: block;
}
  /*----------------React Tab-------------------------------*/

hr{
  color: #543A14 !important;
}
.nav-tabs .nav-link{
  background-color: #FFF0DC;
  color: #543A14;
  border-width: 0.5px !important;
  border-color: #543A14 !important;
  width: 200px;
}
.nav-tabs {
    border-bottom: none;
    border-width: 0.5px !important;
    border-color: #543A14 !important;
}
.nav-tabs .nav-link.active{
  background-color: #543A14 !important;
  color: #F0BB78 !important;
}
.nav-tabs .nav-link:hover{
    color: rgb(0, 0, 0);
    background-color: #F0BB78;
}
/*------------------Searchbar-----------------------------*/
.searchbar{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.inputSearch{
    padding: 10px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 0.5px solid #543A14;
    background-color: #FFF0DC;
    height: 40px;
    border-radius: 10px;
}
.actionbtn{
  color: #F0BB78; 
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #543A14;
  border: 0.5px solid #F0BB78;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
  padding: 1px 20px;
  margin: 3px 5px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
}
.actionbtn:hover{
  background-color: #F0BB78;
  color: #543A14;
  border-color: #543A14;
}
.inputSearch:hover{
  background-color: #F0BB78;
}
/*---------------React Dropdown button---------------------------------*/
.btn.show{
  background-color: #543A14 !important;
  color: #F0BB78 !important;
}
.btn{
  background-color: #543A14 !important;
  color: #F0BB78 !important;
  border: 0.5px solid #F0BB78 !important;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
}
.btn:hover{
  background-color: #F0BB78 !important;
  color: #543A14 !important;
}
.dropdown-menu.show{
  font-family: "Arial", sans-serif;
  background-color: #FFF0DC;
  border: 0.5px solid #543A14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.dropdown-item.active{
  background-color: #F0BB78 !important;
  color: #543A14 !important;
}
.dropdown-item:hover{
  background-color: #F0BB78 !important;
  color: #543A14 !important;
}
/*----------React Modal--------------------------*/
.modal-content{
  background-color: #ffe8ca !important;
  color: #000000 !important;
  border: 0.5px solid #543A14 !important;
}
.modal-header{
  border-bottom: 0.5px solid #543A14 !important;
}
.modal{
  --bs-modal-width: 700px !important;
}
  /*
  .logo-title {
    font-family: "McLaren", cursive;
    font-size: 23px;
    font-weight: 100;
    color: #F0BB78;
    text-decoration: none; 
  }
  .logo-title:hover{
    color: #FFF0DC;
  }
  
  .styleHeaderMenu{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
  }
  
  .styleHeaderMenu a{
    color: #F0BB78;
  }
  .styleHeaderMenu a:hover{
    color: #FFF0DC;
  }
    */

  


/*-----------------Menu CSS-----------------------------------*/
  .top-menu{
    font-weight: 500;
    display: flex;
    align-items: baseline;
  }
  /*-----------------FORM CSS-----------------------------------*/
  .form-container{
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .formStyle{
    width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .border-form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 40px 50px;
    background-color: #ffe8ca;
    /*
    display: grid;
    align-items: center;
    flex-direction: column;
    background-color: #f0bc7840;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px 50px;
    border-radius: 10px;
    justify-self: center;*/
  }
  .sectionForm{
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .formInput{
    width: 100%;
    padding: 10px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 0.5px solid #543A14;
    background-color: #FFF0DC;
    height: 45px;
  }
  .formInput:focus{
    outline: none;
    background-color: #f0bc7840;
  }
  .profileFormInput{
    width: 100%;
    padding: 10px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    border-bottom: 3px solid #543A14;
    background-color: transparent;
    height: 45px;
    color: black;
  }
  .profileFormInput:focus{
    outline: none;
    background-color: #f0bc7840;
  }
  .buttonStyle{
    font-weight: 600;
    font-size: 18px;
    background-color: #543A14;
    color: #F0BB78;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .buttonStyle:hover{
    background-color: #F0BB78;
    color: #543A14;
  }
  .btnCode{
    color: #F0BB78; 
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #543A14;
    border: 0.5px solid #F0BB78;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
    font-weight: 600;
    font-size: 18px;
    width: 150px;
    height: 43px;
  }
  .btnCode:hover{
    color: #543A14;
    background-color: #F0BB78;
  }
  hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }
  .titleStyle{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    justify-self: center;
  }
  .linkStyle{
    color: #000000;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px;
    text-decoration: none;
  }
  .linkStyle:hover{
    opacity: 0.7;
  }
  .checkbox{
    margin: 7px;
    height: 25px;
    width: 25px;
  }
  
  .errorMessage{
    font-size: 13px;
    color: red;
  }
  .alert {
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    width: 90%;
    justify-self: center;
    z-index: 9999;
  }
  /*
  .alert-success{
    background-color: #F0BB78 !important;
    color: #059c14 !important;
    border: 0.5px solid #543A14 !important;
  }
  .alert-danger{
    background-color: #F0BB78 !important;
    color: #9c0505 !important;
    border: 0.5px solid #543A14 !important;
  }
    */
  .titleName{
    margin-top: 10px;
    font-size: 20px;
    color: #543A14;
  }
 /*-----------------Image CSS-----------------------------------*/
 .avatarProfile{
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  object-fit: cover;
 }
 .avatarSmall{
  width: 50px;
  height: 50px;
  object-fit: cover;
 }
 .avatarMedium{
  width: 60px;
  height: 60px;
  border: 0.5px solid #543A14;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit:cover;
 }
 .avatarHeader{
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #F0BB78;
  object-fit: cover;
 }
 .avatarHeader:hover{
  border: 2px solid;
  border-color: #FFF0DC;
 }
 .avatarCard{
  object-fit:cover;
  width: 130px;
  height: 130px;
  border: 2px solid #543a1464;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .avatarPreview{
    width: 300px;
    height: 300px;
    justify-self: center;
    object-fit: cover;
    cursor: pointer;
 }
 /*----------------Post CSS----------------------------------------*/
 .post-modal-btn{
  border: 1px solid #543a1464;
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  display: none;
  gap: 10px;
  margin-bottom: 15px;
 }
 .post-create-container{
  display: flex;
  justify-content: center;
 }
 
 .post-create-border{
  width: 700px;
  display: grid;
 }
 .post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .post-border{
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 900px;
  width: 100%;
  justify-self: center;
  /*min-width: 400px;*/
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .post-line{
    width: 100%;
    justify-self: center;
    margin: 0.3rem;
 }
 .post-header{
  display: flex;
  position: relative;
  margin: 10px;
  align-items: flex-start;
 }
 .post-header-left {
  margin-right: 10px;
}
.post-header-center {

  max-width: 70%;
  line-height: 0.2;
  padding-top: 5px;
}
.post-header-right {
  position: absolute;
  right: 0;
  display: flex;
  gap: 5px;
  padding-top: 5px;
}
.position-tag{
  color: #F0BB78; 
  border-radius: 10px;
  text-decoration: none;
  background-color: #543A14;
  border: 0.5px solid #F0BB78;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
  padding: 2px 10px;
  font-size: small;
  font-weight: 600;
}
.post-body{
  display: grid;
  margin: 10px;
}
.post-title{
  word-wrap: break-word;
}
.post-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.content-text{
  margin: 0px;
  width: 100%;
}

.content-media{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1px;
  justify-content: center;
  max-width: 100%;
  
}

.content-media img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.content-media video {
  width: 100%;
}
.content-media iframe {
  width: 100%;
}
.post-create-header{
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 10px 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.post-create-body {
  padding: 20px 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.post-input-style{
  border: none; 
  outline: none;
  background: transparent; 
  width: 100%;
}
.uploadButton{
    border-radius: 5px;
    border: 0.5px solid rgb(84, 58, 20);
    background-color: rgb(255, 240, 220);
    font-size: 14px;
    padding: 4px;
    width: 25%;
}
.uploadButton:hover{
  background-color: #ffe8ca;
}
audio::-webkit-media-controls-panel {
  background-color: #F0BB78;
}
/*--------------Post Detail---------------------------------*/
.post-detail-btn{
  text-decoration: none;
  font-weight: 600;
  color: #543A14;
}
.post-detail-btn:hover{
  color: #F0BB78;
}
.modal-fullscreen .modal-header {
  border-radius: 0;
  padding: 5px;
}
.post-detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-border{
  margin-top: 15px;
  background-color: #ffe8ca;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
  
}
.detail-content{
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.detail-content::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.comment-border{
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  
 }
.comment-text{
  padding-left: 70px;
  overflow-wrap: break-word;
}
.emoji-icon{
  color: #543A14;
  font-size: 30px !important;
  cursor: pointer;
}
.emoji-icon:hover{
  color: #F0BB78;
}
.emoji-comment-box{
  position: absolute;
  right: 0px;
  top: 55px;
  margin-right: 20px;
}
.epr_-6npj90{
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.interactive-icon{
  color: #543A14;
}
.interactive-icon:hover{
  color: #F0BB78;
  cursor: pointer;
}

 /*-----------------Post type overview-----------------------*/
 .indexFilter{
  display: none;
}


.postView-list{
  width: auto;
  word-wrap: break-word;
  padding: 10px;
  height: 100%;
  background-color: #543A14;
  color: #F0BB78;
  border-top: 0.5px solid #F0BB78;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.postView-list a {
  display: block;
  color: #F0BB78;
  padding: 10px;
  text-decoration: none;
  border-bottom: 0.5px solid #F0BB78;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
 
.postView-list a.active {
  background-color: #F0BB78;
  color: #543A14;
}

.postView-list a:hover:not(.active) {
  background-color: #F0BB78;
  color: #543A14;
}

/*
.postView-list ul {
  list-style: none;
  padding: 20px;
}

.postView-list ul li {
  padding: 15px 10px;
  border-bottom: 0.5px solid #F0BB78;
}

.postView-list ul li:hover {
  color: #FFF0DC;
  cursor: pointer;
}*/

/*-----------------Index------------------------*/
/*--------Index Navigation------------*/
.index-title{
  color: #543A14;
}
.index-navigation-container{
  background-color: #f0bc78a4;
  margin: 20px 0px;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  font-weight: 600;
  color: #543A14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.index-navigation-container a{
  cursor: pointer;
  color: #543A14;
  text-decoration: none;
}
.index-navigation-container a:hover{
  border-bottom: 3px solid #543A14;
}
.index-navigation-container a.active{
  border-bottom: 3px solid #543A14;
}
/*-------------Index -Announcement----------------------*/
.index-label-container{
  position: relative;
}

.index-announcement-container{
  background-color: #f0bc78a4;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  font-family: "McLaren", cursive;
  margin-bottom: 20px;
}
.index-showbtn{
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 20px;
  text-decoration: none;
  color: #543A14;
  font-weight: 500;
}
.index-showbtn:hover{
  color: #F0BB78;
  cursor: pointer;;
}
.index-announcement-border{
  background-color: #FFF0DC;
  padding: 10px 20px;
  color: #543A14;
  display: flex; 
  position: relative;
  margin-bottom: 5px;
}
.index-announcement-border i{
  padding-right: 15px;
}
.index-announcement-border a{
  color: #543A14;
  text-decoration: none;
  cursor: pointer;
}
.index-announcement-border a:hover{
  color: #F0BB78;
  
}
.index-announcement-border span{
  position: absolute;
  right: 0;
  padding-right: 20px;
}
/*---------Index Event------------------*/
.index-event-container{
  background-color: #f0bc78a4;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  font-family: "McLaren", cursive;
  margin-bottom: 20px;
  color: #543A14;
}
.index-scroll-control{
  display: flex;
  align-items: center;
}
.index-scroll-control i{
  font-size: 20px;
}
.index-scroll-control i:hover{
  color: #FFF0DC;
}
.index-event-list {
  display: flex;       
  gap: 15px;            
  overflow-x: auto;     
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-grow: 1;
}
.index-event-list::-webkit-scrollbar {
  display: none;
}
.index-event-border {
  background-color: #FFF0DC; 
  color: #543A14;
  width: 200px;       
  min-width: 200px; 
  height: 170px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
}
.index-event-border:hover{
  opacity: 0.8;
}
.index-event-border img {
  width: 100%;         
  height: 120px;
  object-fit: cover;
}
.event-date-tag{
  position: absolute;
  right: 0;
  top: 0;
  color: #F0BB78; 
  border-radius: 10px;
  text-decoration: none;
  background-color: #543A14;
  border: 0.5px solid #F0BB78;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
  padding: 2px 10px;
  font-size: small;
  font-weight: 600;
  margin: 1px 0px;
}
/*---------index post----------------*/
.info-message{
  text-align: center;
  color: #543A14;
}
.index-postbtn-container{
  position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #654321; 
    color: #F0BB78;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-postbtn-container:hover{
  color: #FFF0DC;
}
/*----------index post----------*/

.index-post-navigation{
  background-color: #ffe8ca;
  margin: 20px 0px;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  font-weight: 600;
  color: #543A14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;     
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.index-post-navigation a{
  color: #543A14;
  text-decoration: none;
  cursor: pointer;
}
.index-post-navigation a:hover{
  border-bottom: 3px solid #543A14;
}
.index-post-navigation a.active{
  border-bottom: 3px solid #543A14;
}

.index-post-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* 控制三栏之间的间距 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  overflow: hidden;
}

.index-left {
  width: 250px; /* 左右栏固定宽度 */
  min-height: 100vh; /* 让左右栏填充整个视口高度 */
  background-color: #543A14;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
}
.index-right {
  width: 250px; /* 左右栏固定宽度 */
  min-height: 100vh; /* 让左右栏填充整个视口高度 */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
}

.index-center {
  flex: 1;
  max-width: 900px; 
  min-width: 300px;
  border-radius: 5px;
  overflow-y: auto;
}

.eventView-list{
  width: auto;
  word-wrap: break-word;
  padding: 10px;
  height: 100%;
  border-top: 0.5px solid #F0BB78;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.event-title{
  text-decoration: none;
  color: #543A14;
  font-weight: 500;
  line-height: 1.2;
}
.event-title:hover{
  color: #F0BB78;
}
.index-mobile{
  display: none;
}
/*---------------Chat--------------------------------*/
.chat-container{
  margin-top: 20px;
  background-color: #f0bc78a4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
  height: 85vh;
  padding: 20px;
  position: relative;
}
.chat-header{
  border-bottom: 5px solid #543A14;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px;
}
.chat-header-left{
  display: flex;
  align-items: center;
}
.chat-header-center{
  display: flex;
  align-items: end;
  gap: 5px;
  text-decoration: none;
}

.chat-header-right{
  gap: 15px;
  display: flex;

}
.chat-body{
  margin-top: 15px;
}
.chat-border{
  background-color: #ffe8ca;
  display: flex;
  margin-bottom: 5px;
  padding: 2px;
  gap: 5px;
  position: relative;
  text-decoration: none;
  color: #000000;
}
.chat-border:hover{
  color: #F0BB78;
  background-color: #543A14;
}
.chat-border span{
  font-weight: 500;
}
.chat-border-center{
  display: grid;
}
.chat-border-right{
  position: absolute;
  left: 0;
  padding-left: 35px;
  top: -5px;
}
.message-badge{
  color: red;
}
.chat-back-btn{
  background-color: #543A14;
  color: #F0BB78;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
}
/*----------chat window----------------*/
.chatImage{
  width: 100%;
  cursor: pointer;
}
.chat-window-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #f0bc78a4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
  height: 85vh;
  padding: 20px;
  position: relative;
}
.chat-window-header{
  border-bottom: 5px solid #543A14;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px;
}
.chat-window-bottom{
  flex-shrink: 0; /* 底部固定 */
  height: 70px; /* 固定输入框高度 */
  display: flex;
  align-items: center;
  border-top: 4px solid #543A14;
}
.chat-window-body{
  flex: 1; /* 让聊天内容填充剩余空间 */
  overflow-y: auto; /* 允许滚动 */
  padding: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chat-body::-webkit-scrollbar {
  width: 0px; /* 隐藏滚动条 */
  display: none;
}
.message-sent-border{
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.msg-input{
  flex-grow: 1;
  padding: 10px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 0.5px solid #543A14;
    background-color: #FFF0DC;
    height: 40px;
    border-radius: 10px;
  
}
.msg-icon{
  color: #F0BB78;
  cursor: pointer;
}
.emoji-msg-box{
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  right: 0;
}
.chat-icon{
  color: #543A14;
  font-size: 25px;
  cursor: pointer;
  
}
.chat-icon:hover{
  color: #F0BB78;
}

.message-box-right{
  align-self: flex-end;
    background-color: #FFF0DC; 
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    width: auto;
    margin-bottom: 10px;
}

.message-box-left small,
.message-box-right small {
  display: block;
  font-size: xx-small;
  text-align: right;
  margin-top: 5px;
  position: static; 
}

.message-box-left {
  align-self: flex-start;
  background-color: #543A14;
  color: #F0BB78;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 10px;
}

.message-box-left span{
  padding-right: 20px;
}
.message-box-left .file-download-link{
  color: #F0BB78;
}
.file-download-link{
  text-decoration: none;
  color: #543A14;
  font-weight: 500;
}
.file-download-link:hover{
  color: #F0BB78;
}
/*----------message create-----------------*/
.message-media-preview{
  position: relative;
  width: 90%;
}
.message-media-preview img{
  width: auto;
  height: 200px;
}
.message-media-preview video{
  width: 100%;
}
.media-preview-box{
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  background-color: #FFF0DC;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}

 /*-----------------Card-----------------------*/
  .cardDetail{
    display: grid;
    justify-content: center;
    text-align: center;
    line-height: 0.8;
    font-weight:bold;
    font-size: 18px;
    color: #543A14;
  }
  .detailGrid {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
  }

  .detailLabel {
      font-weight: bold;
      width: auto;
      margin-bottom: 20px;
  }

  .detailContent {
      width: auto;
      word-wrap: break-word;
  }

 /*----------------Profile CSS----------------------------------------*/
 .profile-container{
  padding-bottom: 20px;
 }
 .profile-info-container{
  margin: 20px 0px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
 }
 .profile-info-border{
  display: flex;
  padding-bottom: 20px;
  border-bottom: 5px solid #543A14;
  justify-content: space-between;
 }
 .profile-info-border-i{
  display: flex;
  padding-bottom: 20px;
  border-bottom: 5px solid #543A14;
 }
 
 .profile-info-left {
  margin-right: 30px;
}
.profile-info-center {
  padding: 1px;
  flex: 1;
}
.profile-info-center-i {
  padding: 1px;
  max-width: 50%;
}
.profile-info-right {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}
.profile-link{
  color: #000000;
  text-decoration: none;
}
.profile-link:hover{
  color: #F0BB78;
}

.description {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal; 
}
.position-card{
  font-size: 15px;
  color: rgb(240, 23, 23);
}
.gender-icon{
  font-size: 30px;
  font-weight: 600;
}
.dropdownItem{
  width: 100%;
  padding: 5px 15px;
  cursor: pointer;
}
.dropdownItem:hover{
  background-color: #F0BB78;
}
.profile-tab-navigation{
  background-color: #543A14;
  margin: 20px 0px;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  font-weight: 600;
  color: #F0BB78;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;     
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 5px;
}
.profile-tab-navigation a{
  color: #F0BB78;
  text-decoration: none;
  cursor: pointer;
}
.profile-tab-navigation a:hover{
  border-bottom: 3px solid #F0BB78;
}
.profile-tab-navigation a.active{
  border-bottom: 3px solid #F0BB78;
}
.profile-card{
  background-color: #ffe8ca;
  margin: 20px 0px;
  padding: 10px 20px;
  font-weight: 600;
  color: #543A14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
/*----------------Border List CSS--------------------------*/
.list-container {
  display: grid;
}

.box-style {
  justify-self: center;
  display: flex;
  margin: 10px 10px 0px;
  padding: 5px;
  align-items: flex-start;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  width: 100%;
  /*min-width: 400px;*/
  cursor: pointer;
  text-decoration: none; 
  color: inherit;
  background-color: #ffe8ca;
  border-radius: 10px;
  box-sizing: border-box; /* 确保 padding 和 border 计算在 width 内 */
}
 .box-style:hover{
  background-color: #FFF0DC;
 }
 .box-info-left {
  margin-right: 30px;
}
.box-info-center {
  height: 60px;
  line-height: 0.8;
}
.mobile-box-center-text{
  display: none;
}
.box-info-right {
  position: absolute;
  right: 0;
  padding-top: 12px;
  padding-right: 10px;
}
.dropdown-style{
  padding-right: 20px;
}
.topStyle{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}
/* Sidebar styles */
.sidebar {
  width: 280px;
  height: 95vh;
  background-color: #543A14;
  color: #F0BB78;
  overflow-x: hidden;
  z-index: 1000;
  border-top: 0.5px solid #F0BB78;
  font-weight: 600;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar ul li {
  padding: 15px 10px;
  border-bottom: 0.5px solid #F0BB78;
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: #F0BB78;
  display: block;
}

.sidebar ul li a:hover {
  color: #FFF0DC;
}
.sidebar ul li:hover {
  color: #FFF0DC;
}
/*--------------------sidenav------------------------------------*/
.sidenav-container{
  height: 100vh;
}
.sidenav {
  height: 100vh;
  width: 250px;
  z-index: -1;
  position: relative;
  border: 1px solid #ccc;
}


.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.contentLayout{
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Page content styles */
.content {
  flex: 1;
  padding-top: 10px;
  transition: margin-left 0.3s ease-in-out;
  margin: 0px 20px;
}

.content.shift {
  margin-left: 280px;
}

/* Open button */
.open-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

/*----------------Table----------------------------------*/
.controlbar{
  margin-top: 20px;
  overflow: hidden;
  border: 0.5px solid #543A14;
  background-color: #FFF0DC;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.controlbox {
  /*display: none;*/
  border: 0.5px solid #543A14;
  background-color: #FFF0DC;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top: none;
  margin-bottom: 20px;
  overflow-x: auto;
  height: 85vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.controlbox::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.actionStyle{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.actionStyle-userClient{
  display: flex;
  gap: 10px;
  align-items: center;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  height: 60px; 
  width: 50px;
  white-space: nowrap;
}
.container-fluid{
  background-color: #FFF0DC;
}
.form-select{
  background-color: #FFF0DC !important;
  border: 0.5px solid  #543A14 !important;
}
.form-select:hover{
  background-color: #ffe8ca !important;
}
.form-control{
  background-color: #FFF0DC !important;
  border: 0.5px solid  #543A14 !important;
}
.table{
  --bs-table-bg: #fff0dc !important;
  --bs-table-border-color: #543a145a !important ;
}
.table>:not(caption)>*>* {
  text-align: center;
}
.pagination {
  --bs-pagination-bg:#fff0dc !important;
  --bs-pagination-border-color: #543a145a !important ;
  --bs-pagination-hover-color: #ffffff !important;
  --bs-pagination-hover-bg:  #F0BB78 !important;
  --bs-pagination-active-bg: #F0BB78 !important;
  --bs-pagination-active-border-color: #543a145a !important;
  --bs-pagination-disabled-bg: #ffe8ca !important;
  --bs-pagination-color: #543a14 !important ;

}
/*--------------------pagination-------------------------------------*/
.pagination{
  margin: 10px;
}

/*--------------------------------------------------------------*/
.filter-container{
  display: flex;
  gap: 2px;
  right: 0px;
  justify-content: flex-end;
}
/*---------Report Management------------------------------------*/
.image-grid-container{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.image-grid-container > img {
  border: 1px solid black;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}
/*------------------welcome---------------------------*/
.welcome-border {
  background-color: #FFF0DC;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  padding: 20px;
  font-size: 20px;
  font-family: "McLaren", cursive;
  color: #543A14;
  line-height: 1.8;
  position: relative;
  margin: 30px auto;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-in-out;
}


.welcome-border.show {
  opacity: 1;
  transform: translateY(0);
}

.welcome-border img {
  width: 50%;
  transition: transform 0.3s ease-in-out;
}


.welcome-border img:hover {
  transform: scale(1.05);
}


.welcome-btn {
  background-color: #543A14;
  color: #F0BB78;
  text-decoration: none;
  padding: 12px 50px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
}


.welcome-btn:hover {
  background-color: #F0BB78;
  color: #543A14;
  transform: scale(1.05);
}

.welcome-border-left, .welcome-border-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}


/*
.welcome-border2{
  background-color: #f0bc78a4;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  font-size: 20px;
  font-family: "McLaren", cursive;
  color: #543A14;
  line-height: 3;
  position: relative;
  margin-bottom: 30px;
}*/
/*----------dashboard-----------------*/
.dashboard-container {
  padding: 20px;
}

.dashboard-grid {
  display: flex;
  gap: 20px;
  
}

.dashboard-card {
  background: #ffe8ca;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dashboard-card-border{
  align-items: center;
  display: flex;
  gap: 10px;
}
.dashboard-card-right{
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.dashboard-icon-border{
  background-color: #543A14;
  color: #F0BB78;
  padding: 20px 10px;
  font-size: 30px;
  border-radius: 10px;
}
.dashboard-badge {
  padding: 0px 10px;
  border-radius: 100%;
}

.badge-label{
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.dashboard-cardList{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  margin: 20px 0px;
}
.dashboard-cardList .card {
  position: relative;
  background: #ffe8ca;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}
.cardicon{
  font-size: 70px;
  position: absolute;
  right: 0;
  top: -5px;
  padding-right: 15px;
  color: #543A14;
}
.totalnumber{
  font-size: 35px;
  font-weight: 500;
}
.cardname{
  font-weight: 700;
}
.dashboard-chart-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.dashboard-chart{
  width: 100%;
  background-color: #ffe8ca;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.dashboard-table-container{
  display: flex;
  gap: 20px;
  width: 100%;
}
.table-container{
  flex: 1;
}
.dashboard-table{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}