

@media only screen and (max-width: 450px) {
    /*index page*/
    .mobileHeader{
      display: block;
    }
    .tabletLaptopnHeader{
      display: none;
    }
    .mobileFilter{
        display: none;
    }
    .index-center {
        width: 100%;
        max-width: 100%;
    }
    .index-container {
        flex-direction: column;
    }
    .index-left{
        min-height: auto;
    }
    .postView-list{
        display: flex;
        width: 330px;
        overflow-x: auto; 
        -ms-overflow-style: none;
    }
    .postView-list::-webkit-scrollbar {
        display: none; /* 适用于 Chrome、Safari */
      }

    .postView-list a {
        border-radius: 0px;
    }
    .typesLabel{
        display: none;
    }
    .header-right{
        gap: 10px;
    }
    .header-container{
        padding: 0px;
    }
    .profile-info-border-i{
        flex-direction: column;
    }
    .profile-info-border{
        flex-direction: column;
    }
    .profile-info-center-i {
        max-width: 100%;
    }
    .avatarProfile{
        width: 100px;
        height: 100px;
    }
    aside{
        height: 350px !important;
        width: 300px !important;
    }
    .post-emoji-picker{
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .index-announcement-border span{
        display: none;
    }
    .index-mobile{
        display: block;
    }
    .index-big-device{
        display: none;
    }
    .message-sent-border{
        gap: 0px;
    }
    .message-sent-border .msg-input{
        width: 150px;
    }
    .message-sent-border .actionStyle{
        gap: 0px;
    }
    .box-center-text{
        display: none;
    }
    .mobile-box-center-text{
        display: block;
    }
    .message-media-preview img{
        object-fit: contain;
    }
  }
  